/* tablet */
@media all and (max-width: 1000px){
    .heading h2 {
        font-size: 20px;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .contents-item {
        width: 50%;
        margin-bottom: 50px;
    }
}

/*untuk smartphone*/
@media all and (max-width: 850px) {

    span.menu-icon {
        display:block;
    }

    .top-wrapper {
        text-align: left;
        max-height: 250px;
    }

    .top-wrapper h1 {
        font-size: 34px;
        line-height: 60px;
        background-color: rgba(0, 0, 0, 0.25);
        padding-top: 0;
        padding-bottom: 60px;
        text-align: center;
    }

    .top-wrapper p {
        font-size: 15px;
        line-height: 27px;
        background-color: rgba(0, 0, 0, 1.25);
        text-indent: 25px;
        text-align: justify;
        padding: 3px 6px 3px 6px;
    }

    .contents-item {
        width: 100%;
    }

    footer p {
        text-align: center;
        float:none;
    }

    .header-right {
        display: none;
    }
}