* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    font-family: 'Lato';
    background-color: #dadff7;
}
/*header*/

header {
    height: 65px;
    width: 100%;
    background-color: #232c33;
    position: fixed;
    top: 0;
    z-index: 13;
    color: white;
    opacity: 0.95;
}

.header-right {
    float: right;  
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    text-decoration: none;
}

.header-right a:hover {
    color:black;
    background-color: #a0c1d1;
    
}

.header-left {
    float: left;
    line-height: 17px;
    transition: all 0.2s;
    cursor: context-menu;
    transition: all 0.5s;
    animation-timing-function: ease-in;
}

.header-left:hover {
    letter-spacing: 4px;
    text-indent: 6px;
}

.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Lato';
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .fa {
    margin-right: 5px;
  }

.contents {
    height: 500px;
    margin-top: 100px;
}
  
.section-title {
    font-size: 28px;
}

.section-p {
    border-bottom: 2px solid #111;
}
  
.contents-item {
    float: left;
    width: 33.3333333%;
}

.krb, .zoologi, .peta, .batutulis, .perjuangan, .kujang {
    width: 350px;
    height: 210px;
    display: inline-block;
    margin: 0 auto;
}

.txt-contents {
    width: 90%;
    font-size: 15px;
    margin-top: 0;
    display: inline-block;
}

.contents-item h4 {
    text-align: center;
}

.contents-item p {
    text-align: center;
}

footer {
    height: 55px;
    width: 100%;
    background-color: #232c33;
    color: white;
    opacity: 0.95;
    float:right;
    position: static;
}

@keyframes warna {
    0% {color:red;}
    12.5% {color:orange;}
    25% {color:yellow;}
    37.5% {color:green;}
    50% {color:blue;}
    62.5% {color:turquoise;}
    75% {color:purple;}
    87.5% {color:white;}
    100% {color:green;}
}

footer p {
    float: right;
    animation: warna 10s infinite;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }